/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Mukta", sans-serif;
  overflow-x: hidden;
}
